/* RESET */
.padding-no-row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
img{
  max-width: 100%;
}

.page{}
.page .page__menu{
  background-color: #2c3e50;
  min-height: 100vh;
  padding: 0;
}

.page .page__menu .menu__title{
    display: block;
    background-color: #34495e;
    color: #f4f4f4;
    padding: 10px;
}
.page .page__menu .menu__itens{
    list-style: none;
    padding: 0;
}
.page .page__menu .menu__itens .itens__item a{
    background-color: #95a5a6;
    padding: 16px;
    display: block;
    margin: 2px 0;
    color: #ecf0f1;
    font-size: 17.5px;
}

.page .page__menu .menu__itens .itens__item a:hover{
   text-decoration: none;
   background-color: #34495e;
   transition: .3s;
}

.cursos{}
.cursos .cursos__curso{
  padding: 10px;
}

.shaddow{
  background: rgba(0,0,0,.3);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal-add-course{
  background: #f4f4f4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 10px;
  /*height: 200px;*/
  width: 50%;
  max-width: 100%;
  z-index: 2;
}